<template>
  <div class="hero">
    <div>
      <h1 class="display-3">Test</h1>
      <p class="lead">You also need to be logged in to view this page</p>
    </div>
  </div>
</template>

<script>

</script>

<style>
  .hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero .lead {
    font-weight: 200;
    font-size: 1.5rem;
  }
</style>